<h2>Editing Book</h2>

<%= form_with model:@book, local: true do |book| %>
<p>Title<p>
  <%= book.text_field :title %>
  
<p>Body</p>
  <%= book.text_area :body %>
  <br>
  
<%= book.submit 'Update Book' %>

<% end %>

